//Variables
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;

$text-color: #2C3E50;

$bg-primary-color: #FEFCF9;
$bg-secondary-color: #FFFFFF;
$bg-tertiary-color: #DED7CE;

$btn-color: #B4552D;
$btn-hover-color: #823329;
$btn-text-color: #FFFFFF;

$icon-warning: #2C3E50;
$icon-error: #BF0000;
$icon-success: #6FB146;

$line-height: 1.6em;

$border-radius: 15px;

$space-1: 0.5em;
$space-2: 1.5em;
$space-3: 2em;

$breakpoint-desktop: 769px;


//Mixins

@mixin flex-align-center{
    display: flex;
    align-items: center;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style($bg-color: $btn-color, $color: $btn-text-color, $hover: $btn-hover-color, $btn-padding: 0.6em $space-3){
    display: block;
    margin: 1em auto;
    padding: $btn-padding;
    border: none;
    border-radius: $border-radius;
    background-color: $bg-color;
    color: $color;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover, &:active{
        background-color: $hover;
    }
}

@mixin desktop{
    @media screen and (min-width: $breakpoint-desktop) {@content;}
}