@use './partial'; //Partial fil hentes ind i style.scss som et modul.

//Base Styling
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: partial.$font-secondary;
    color: partial.$text-color;
    background-color: partial.$bg-primary-color;
    line-height: partial.$line-height;

        h1, h2, h3{
            font-family: partial.$font-primary;
            font-weight: 600;
            margin-bottom: 25px;
            font-size: 22px;
        }

        h1, h2{
            text-align: center;
        }

        h3{
            text-align: left;
        }

        p{
            margin-bottom: 15px;
            font-weight: 350;
            font-size: 18px;
            text-align: left;
        }
}



//Header
header{
    padding: 0.8em partial.$space-2;
    position: sticky; /*header sidder fast i toppen, når man scroller*/
    top: 0;
    background-color: partial.$bg-primary-color;
}

.logo{
    @include partial.flex-align-center;

        img{
            max-height: 50px;
            width: auto;
            display: block;
        }
}

//Intro
.intro{
    padding: partial.$space-2;

        &-content{
            display: flex;
            flex-direction: column;
            gap: partial.$space-2;
        }

        &-img img{
            width: 100%;
            height: auto;
            border-radius: partial.$border-radius;
            margin-bottom: 15px;
        }
}

//Scener
.scene{
    display: none; //skjuler alle scener som default
    background-color: partial.$bg-secondary-color;
    border: 2px solid #000000;
    border-radius: partial.$border-radius;
    padding: partial.$space-2;
    margin: partial.$space-3 auto;
    max-width: 375px;
    text-align: center;

        &.active{
            display: block; //Viser aktive scene
        }

        &-img{
            margin-bottom: partial.$space-2;

            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
}

.warning-list{
    text-align: left;
    margin: 0 0 30px 0;
    padding-left: 1.2em;

        li{
            margin-bottom: partial.$space-1;
            font-size: 18px;
            font-weight: 350;
        }
}

.message{

    strong{
        font-weight: 700;
    }
}

//Ikoner i scener
.icon--scene{
    display: block;
    margin: 0 auto partial.$space-1 auto;
    font-size: 40px;

        &.error{
            color: partial.$icon-error;
        }

        &.warning{
            color: partial.$icon-warning;
        }

        &.success{
            color: partial.$icon-success;
        }
}

//Kildeangivelse

.reference-list{
    padding: partial.$space-2;

    .references{
        list-style: disc;

        li{
            font-size: 18px;
            font-weight: 350;
            margin-bottom: partial.$space-2;
            word-wrap: break-word; //Links brydes til næste linje, hvis de er for lange
        }

        em{
            font-style: italic;
        }

    }
}

//Knapper
.btn{
    @include partial.button-style;
}

//Bundlinje
.footer{
    background-color: partial.$bg-tertiary-color;
    color: partial.$text-color;
    padding: 20px;
    width: 100%;
}

.footer-content{
    p{
        margin-bottom: partial.$space-1;
        font-weight: 500;
    }
}

//Responsive - Desktop version
@include partial.desktop{
    main{
        padding: 4em partial.$space-2;
    }

    .intro-content{
        flex-direction: row;
        align-items: center;
        gap: partial.$space-3;
    }

    .intro-text{
        flex: 1;
        order: 1;
    }

    .intro-img{
        @include partial.flex-center;
        flex: 1;
        order: 2;

        img{
            width: 100%;
            height: auto;
            max-width: 500px;
            border-radius: partial.$border-radius;
            }
    }
    
    .scene{
        max-width: 800px;
        margin: partial.$space-3 auto;
        padding: 2.5em;

        &-img{
            display: flex;
            justify-content: center;

            img{
                max-width: 450px;
                width: 100%;
                height: auto;
            }
        }
    }

    .reference-list{
        max-width: 800px;
        padding: partial.$space-2;
    }


}