@use './partial'; //Partial fil hentes ind i style.scss som et modul.

//Base Styling
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: partial.$font-secondary;
    color: partial.$text-color;
    background-color: partial.$bg-primary-color;

        h1, h2{
            font-family: partial.$font-primary;
            font-weight: 600;
            margin-top: 15px;
            margin-bottom: 30px;
            text-align: center;
        }

        h1{
            font-size: 26px;
        }

        h2{
            font-size: 24px;
        }

        p{
            line-height: partial.$line-height;
            margin-bottom: 30px;
            font-family: partial.$font-secondary;
            font-weight: 350;
            font-size: 18px;
            text-align: left;
        }
}



//Header
header{
    padding: 0.8em partial.$space-medium;
    position: sticky; /*header sidder fast i toppen, når man scroller*/
    top: 0;
    background-color: partial.$bg-primary-color;
}

.logo{
    @include flex-align-center;

        img{
            max-height: 50px;
            width: auto;
            display: block;
        }
}

//Intro
.intro{
    padding: partial.$space-medium-large;

        &-content{
            display: flex;
            flex-direction: column;
            gap: partial.$space-medium-large;
        }

        &-img img{
            width: 100%;
            height: auto;
            border-radius: $border-radius;
            margin-bottom: 15px;
        }
}

//Scener
.scene{
    display: none; //skjuler alle scener som default
    background-color: partial.$bg-secondary-color;
    border: 2px solid #000000;
    border-radius: partial.$border-radius;
    padding: partial.$space-medium-large;
    margin: partial.$space-large auto;
    max-width: 375px;
    text-align: center;

        &.active{
            display: block; //Viser aktive scene
        }
}

.warning-list{
    text-align: left;
    margin: 0 0 30px 0;
    padding-left: 1.2em;

        li{
            margin-bottom: partial.$space-xs;
            line-height: partial.$line-height;
            font-family: partial.$font-secondary;
            font-size: 18px;
            font-weight: 350;
        }
}

.message{

    strong{
        font-weight: 700;
    }
}

//Ikoner i scener
.icon{
    line-height: partial.$line-height;

        &--scene{
            display: block;
            margin: 0 auto partial.$space-small auto;
            font-size: 40px;

            &.error{
                color: partial.$icon-error;
            }

            &.warning{
                color: partial.$icon-warning;
            }

            &.success{
                color: partial.$icon-success;
            }
        }
}

//Knapper
.btn{
    @include button-style;
}

//Bundlinje
.footer{
    background-color: partial.$bg-tertiary-color;
    color: partial.$text-color;
    padding: 20px;
    width: 100%;
}

.footer-content{
    p{
        margin-bottom: partial.$space-small;
        font-weight: 500;
        line-height: partial.$line-height;
    }
}

//Responsive - Desktop version
@include desktop{
    main{
        padding: 4em partial.$space-medium-large;
    }

    .intro-content{
        flex-direction: row;
        align-items: center;
        gap: partial.$space-large;
    }

    .intro-text{
        flex: 1;
        order: 1;
    }

    .intro-img{
        @include flex-center;
        flex: 1;
        order: 2;

        img{
            width: 100%;
            height: auto;
            max-width: 500px;
            border-radius: partial.$border-radius;
            }
    }
    
    .scene{
        max-width: 800px;
        margin: partial.$space-large auto;
        padding: partial.$space-xl;
    }

}