//Variables
$font-heading: "Montserrat", sans-serif;
$font-body: "Roboto", sans-serif;
$text-color: #2C3E50;

$bg-primary-color: #FEFCF9;
$bg-secondary-color: #FFFFFF;
$bg-tertiary-color: #DED7CE;

$btn-color: #B4552D;
$btn-hover-color: #823329;
$btn-text-color: #FFFFFF;

$border-radius: 15px;


//Base Styling
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: $font-body;
    color: $text-color;
    background-color: $bg-primary-color;
    margin: 0;
}

h1, h2{
    font-family: $font-heading;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 24px;
}

p{
    line-height: 1.6em;
    margin-bottom: 30px;
    font-family: $font-body;
    font-weight: 350;
    font-size: 18px;

}

//Header
header{
    padding: 0.8em 1em;
    position: sticky; /*header sidder fast i toppen, når man scroller*/
    top: 0;
    background-color: $bg-primary-color;

    .logo{
        display: flex;
        align-items:center;

        img{
        max-height: 50px;
        width: auto;
        display: block;
        }
    }

}

//Intro
.intro{
    padding: 1.5em;

    &-content{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    &-img img{
        width: 100%;
        height: auto;
        border-radius: $border-radius;
        margin-bottom: 15px;
    }
}



//media query til desktop version
@media screen and (min-width: 769px){

    main{
        padding: 4em 1.5em;
    }

    .intro{
        &-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2em;
        }

        &-text{
            flex: 1;
            order: 1;
        }

        &-img{
            display: flex;
            justify-content: center;
            flex: 1;
            order: 2;

            img{
                width: 100%;
                height: auto;
                max-width: 500px;
                border-radius: $border-radius;
            }
        }
    }

    .scene{
        max-width: 800px;
        margin: 2em auto;
    }
    
}
